USE [master]
GO
/****** Object:  Database [Bot]    Script Date: 2022-11-17 13:55:12 ******/
CREATE DATABASE [Bot]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bot', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Bot.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bot_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Bot_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bot].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bot]
GO
/****** Object:  Table [dbo].[force_ui_engineering_meet_schedule]    Script Date: 2022-11-17 13:55:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[force_ui_engineering_meet_schedule](
	[date] [date] NOT NULL,
	[squad] [nvarchar](50) NOT NULL,
	[contact] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[force_ui_support_member_list]    Script Date: 2022-11-17 13:55:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[force_ui_support_member_list](
	[id] [int] NOT NULL,
	[email] [nvarchar](max) NOT NULL,
	[squad] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[force_ui_support_schedule]    Script Date: 2022-11-17 13:55:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[force_ui_support_schedule](
	[From] [date] NULL,
	[To] [date] NULL,
	[Platform] [varchar](max) NULL,
	[HnL] [varchar](max) NULL,
	[PnC] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
